.bg-body-tertiary{
    background-color: #0d413e !important;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3); 
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}
.navbar-brand {
    color: white !important;
}
/* Cambia el color del botón "Opciones" */
.navbar .dropdown-toggle {
    color: white !important;
}
.dropdown-item:hover, .dropdown-item:focus, .dropdown-item.active {
    background-color: #137158 !important; /* El color que prefieras */
    color: white !important; /* Opcional: para que el texto siga siendo blanco */
}
/* Cambia el color del ícono de la hamburguesa a blanco */
.navbar-toggler {
    border-color: white !important;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}